# Server listen address
listener = "0.0.0.0:3000"

# Log level: 0=Trace, 1=Debug, 2=Info, 3=Warn, 4=Error
log_level = 1

# PostgreSQL URL
database_url = "postgres://<USER>:<PASSWORD>@<HOST>:5432/Bypass"

# jwt secret
secret = "Bypass"

# template api secret secret
template_api_secret = "Bypass"

# Base image repository for builder environments.
# builder_registry_image = "ghcr.io/synex93/bypass-builder"

# Docker API address.
# Leave it unset to use the local Docker socket.
# docker_api_addr = "http://127.0.0.1:2375"

# Pull missing builder images when starting runtime
builder_pull_on_startup = true
